<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebService Integration</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div>
        <header class="navbar">
            <a href="">Link 1</a>
            <div class="subnav">
                <button class="subnavbtn">Link 2 <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="">Sub Link1</a>
                    <a href="">Sub Link2</a>
                    <a href="">Sub Link3</a>
                </div>
            </div>
        <div class="subnav">
            <button class="subnavbtn">Link 3 <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="">Sub Link4</a>
                <a href="">Sub Link5</a>
                <a href="">Sub Link6</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Link 4 <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="">Sub Link7</a>
                <a href="">Sub Link8</a>
                <a href="">Sub Link9</a>
            </div>
        </div>
        <a href="">Link 5</a>
        </header>
        <div class="container">
            <input type="text" name="soapkey" id="soapkey" placeholder="Digite a chave SOAP">
            <input type="submit" value="Enviar" onclick="window.location.href='sincFuncionario.html'">
        </div>
    <div class="footer">
        <p>Não sei o que estou fazendo.</p>
    </div>
    </div>
</body>
<script>
        
</script>
</html>