<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sincFuncionario.css">
    <title>Document</title>
</head>
<body>
    <div>
        <header class="navbar">
            <a href="home">Home</a>
            <div class="subnav">
                <button class="subnavbtn">Documentação<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="">PontoWEB</a>
                    <a href="">AcessoWEB</a>
                </div>
            </div>
        <div class="subnav">
            <button class="subnavbtn">WebService<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="sincfun">Funcionários</a>
                <a href="sincafast">Afastamentos</a>
                <a href="sinctotal">Totais</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Link 4 <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="">Sub Link7</a>
                <a href="">Sub Link8</a>
                <a href="">Sub Link9</a>
            </div>
        </div>
        <a href="">Link 5</a>
        </header>
    <div class="form">
        <p>Exportar funcionários ativos</p>
        <input type="submit" value="Gerar CSV">
    </div> </br>
    <div class="form">
        <p>Importar funcionários</p>
        <input name="csvfile" type="file" accept=".csv">
        <input type="submit" name="csvfile" value="Enviar" >
    </div>
</body>
</html>